<mdb-carousel [controls]="true" [indicators]="true" [animation]="'fade'">
    <mdb-carousel-item>
      <img
        src="assets/images/1.jpg"
        
        class="d-block w-100"
        alt="..."
      />
      <div class="carousel-caption d-none d-md-block">
        <h5>First slide label</h5>
        <p>With great power comes an even greater electricity bill</p>
      </div>
    </mdb-carousel-item>
    <mdb-carousel-item>
      <img
        src="assets/images/1.png"
        class="d-block w-100"
        alt="..."
      />
      <div class="carousel-caption d-none d-md-block">
        <h5>Second slide label</h5>
        <p>Electricity can transform people's lives, not just economically but also socially.</p>
      </div>
    </mdb-carousel-item>
    <mdb-carousel-item>
      <img
        src="assets/images/6.jpg"
        class="d-block w-100"
        alt="..."
      />
      <div class="carousel-caption d-none d-md-block">
        <h5>Third slide label</h5>
        <p>Electricity is really just organized lighting</p>
      </div>
    </mdb-carousel-item>
  </mdb-carousel>