<div class="aboutus">
    <div class="about">
        <div class="heading">
             <h1 class="text-center">electricity billing system</h1>
        </div><br><br>
        
        
        <a><h2><i>The aim of our project is to develop a system that is meant to partially computerize the work performed in the Electricity Board like generating monthly electricity bill, record of consuming unit of energy, store record of the customer and previous unpaid record.</i></h2></a>
        <br><br>
        
            <h2><ins>Modules and Description of Electricity Billing System Project :</ins></h2><br>
            <div>
            <h4><ins>1)	Customer Module: (APPAREDDY ,SAMIDHA)</ins></h4>
        
            <h5>The main aim of this module is provide all the functionality related to customer. It tracks all the information of the customer. You should develop all type of CRUD (Create, Read, Update and Delete) operations of the customer. This is a role based module where admin can perform each and every operations on data but the customer will be able to view only his/her data, so access level restrictions should be  implemented in the project.</h5><br>
            <div>
                <h6><ins>Features of Customer Module:</ins></h6>
                <a>
                    •	Admin can add new customer records<br>
                    •	Admin can see the list of customer details<br>
                    •	Only admin can edit and update the record of the customer<br>
                    •	Admin will be able to delete the records of the customer<br>
                    •	All customer forms are validated on client side <br><br>
                </a>
                    
            </div>
            </div><br>
            <div class="bill">
            <h4><ins>2)	Bill Module: (ABHIYASH, ANMOL)</ins></h4>
        
            <h5>The main aim for developing this module is to manage the bill. This bill module is the main module in this project Electricity Billing System. So all bill will be managed by admin. It tracks all the information of the bill. You have to develop all type of CRUD (Create, Read, Update and Delete) operations of the bill. Customer will be able to see his bill details.</h5><br>
            <div>
                <h6><ins>Features of Bill Module:</ins></h6>
                <a>
                    •	Admin can manage the bill<br>
                    •	Admin can edit/delete the bill<br>
                    •	Admin can see the list of all bill<br>
                    •	Customer can see his bill<br><br>
                    
                </a>
                    
            </div>
            </div><br>
            <div class="payment">
            <h4><ins>3)	Payment Module: (SADAN,DEVI)</ins></h4>
        
            <h5>The main aim of this module is to provide all the functionality related to payment. It tracks all the information and details of the payment. Admin will manage all payment and customer will be able to see their connection.</h5><br>
            <div>
                <h6><ins>Features of Payment  Module:</ins></h6>
                <a>
                    •	Admin can add new payment<br>
                    •   Admin can see the list of payment details<br>
                    •	Only admin can edit and update the record of the payment<br>
                    •	Admin will be able to delete the records of the payment<br>
                    •	All payment forms are validated on client side.<br><br>            
                </a>
                    
            </div>
            </div><br><br>
            <div>
                <h4><ins>There are two types of users available in the project:</ins></h4>
                <div>
                    <a>
                        •	Customer:  With limited access.<br>
                        •	Admin: With full access. <br>         
                    </a>
                </div><br>
            </div><br>
            <div>
                <h4><ins>1)	Functionality performed by Customer user:</ins></h4>   
                <div>
                    <a>
                        •	Registration for Customer<br> 
                        •	Login for Customer<br> 
                        •	Forgot password for Customer<br> 
                        •	Change Password for Customer<br> 
                        •	Edit Profile for Customer<br> 
                        •	View his Payment History<br> 
                        •	View his Bill History<br> <br> 
                                  
                    </a>
                </div>    <br>  
            </div><br> 
            <div>
                <h4><ins>2)	Functionality performed by Admin user:</ins></h4>   
                <div>
                    <a>
                        •	Login for Admin<br>
                        •	Forgot password for Admin<br>
                        •	Edit Profile for Admin<br>
                        •	<b>Manage Customer</b>
                            <ul>
                                <li>Adding New Customer</li>
                                <li>Edit the Exiting Customer</li>
                                <li>Listing of all Customer</li>
                                <li>Adding New Customer</li>
                            </ul>
                            
                        •	<b>Manage Bills</b>
                        <ul>
                            <li>Add Bills of the Customer</li>
                            <li>View Details of the Bills</li>
                            <li>Listing of all Bills</li>
                            <li>Filter Bills according to Customer</li>
                        </ul>
                        
                        •	<b>Manage Payments</b>
                        <ul>
                            <li>Add Payments of Customer</li>
                            <li>Listing of the Payments</li>
                            <li>Filter Payments according to Customer</li>
        
                        </ul>                                        
                    </a>
                </div>    <br>  
            </div><br> 
        
            
        </div>
    </div>
        
