.index-form{
    padding-left: 50px;
    max-width: 35%;
    margin-top: 120px;
}
#index-button{
    margin-left: 35%;
}

#admin-button{
    margin-left: 3%;
    margin-top: 15px;
}
#index-cancel-button{
    margin-left: 76%;
    margin-top: -67px;
}
.card-body{
    margin: 63px 31px 93px 43px;
}