<div class="col-md-6 offset-md-3">


    <h1> Update Status</h1>
    <form (ngSubmit)="onSubmit()">
    
        
    
        <div class="form-group">
            <label> Account Number</label>
            <input type="text" class ="form-control" id = "accountNumber"
                [(ngModel)] = "payment.accountNumber" name = "accountNumber">
        </div>
    
        <div class="form-group">
            <label> CardHolder Name</label>
            <input type="text" class ="form-control" id = "cardHolderName"
                [(ngModel)] = "payment.cardHolderName" name = "cardHolderName">
        </div>
        <div class="form-group">
            <label> Amount</label>
            <input type="text" class ="form-control" id = "amount"
                [(ngModel)] = "payment.amount" name = "amount">
        </div>
        <div class="form-group">
            <label> Card Number</label>
            <input type="text" class ="form-control" id = "cardNumber"
                [(ngModel)] = "payment.cardNumber" name = "cardNumber">
        </div>
        <div class="form-group">
            <label>CVV</label>
            <input type="text" class ="form-control" id = "cvv"
                [(ngModel)] = "payment.cvv" name = "cvv">
        </div>
        <div class="form-group">
            <label>Payment Date</label>
            <input type="text" class ="form-control" id = "paymentDate"
                [(ngModel)] = "payment.paymentDate" name = "paymentDate">
        </div>
        <div class="form-group">
            <label>Status </label>
            <input type="text" class ="form-control" id = "Status"
                [(ngModel)] = "payment.status" name = "Status">
        </div>
        <button style="margin-left: 50px;
        margin-top: 11px;" class = "btn btn-success" type ="submit">Submit</button>
        <button (click)="cancel()" style="margin-left: 178px;
        margin-top: 11px;" class = "btn btn-danger" type ="button">Cancel</button>
        
    </form>
    
    </div>

