.form-group{
    max-width: 70%;
     margin-left: 50px;
     margin-top: 20px;
     
 }
 .text-center{
 margin-top: 25px;
 }
 .btn-danger{
     margin-left: 75px;
 }
 
 .form-table{
     margin-top: 60px;
 }