<h3 class = "fst-italic"> Payment Details</h3>

    
    <div class= "card col-md-6 offset-md-3 shadow-lg p-3 mb-5 bg-body rounded">
    <div class="bg-warning p-2 text-dark bg-opacity-25">


<div>
    <label><b> Payment ID:</b></label>{{payment.paymentId}}
</div>
<div>
    <label><b> Account Number:</b></label>{{payment.accountNumber}}}
    
</div>
<div>
    <label><b> Card Holder Name:</b></label> {{payment.cardHolderName}}
    
</div>
<div>
    <label><b> Amount:</b></label> {{payment.amount}}
   
</div>
<div>
    <label><b> Card Number:</b></label> {{payment.cardNumber}}
   
</div>
<div>
    <label><b> CVV:</b></label> {{payment.cvv}}
    
</div>
<div>
    <label><b> Payment Date:</b></label>{{payment.paymentDate}}
    
</div>
<div>
    <label><b> Bill ID:</b></label>{{payment.billId}}
    
</div>




</div>
</div>
<div>
    <button style="margin-left: 20px;"   class= "btn btn-danger"  (click)="home()"> back</button>
  </div>
